:root {
    --color-white: white;
    --color-lightgray: lightgray;
    --color-black: black;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Navigation Bar */
.nav {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    color: var(--color-lightgray);
}

.navLogo {
    width: 40px;
    height: 40px;
}

.navTitle {
    display: flex;
    justify-content: left;
    color: gold;
}

.navListColumns {
    display: inline;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.navListColumns > a {
    text-decoration: none;
    color: var(--color-lightgray);
}

ul {
    /* remove the underlines */
    list-style: none;
}

a:hover {
    color: var(--color-white);
    transition: color 0.2ss;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.feature-left-card-container {
    border: 3px solid red;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "feature-logo-area feature-image-area"
        "feature-title-area feature-image-area"
        "feature-content-area feature-image-area"
        "feature-learn-more-area feature-image-area";
}

.feature-right-card-container {
    border: 3px solid red;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "feature-image-area feature-logo-area"
        "feature-image-area feature-title-area "
        "feature-image-area feature-content-area"
        "feature-image-area feature-learn-more-area";
}

.feature-logo-area {
    grid-area: feature-logo-area;
}

.feature-title-area {
    grid-area: feature-title-area;
}

.feature-learn-more-area {
    grid-area: feature-learn-more-area;
}

.feature-content-area {
    grid-area: feature-content-area;
}

.feature-image-area {
    grid-area: feature-image-area;
    margin: 0 auto;
}

footer {
    align-items: center;
    background-color: var(--color-black);
    bottom: 0;
    color: var(--color-lightgray);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    left: 0;
    padding: 2rem 1rem;
    position: fixed;
    width: 100%;
}

footer img {
    height: 30px;
    width: 30px;
}

footer li {
    display: inline;
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

footer a {
    text-decoration: none;
    color: var(--color-lightgray);
}
