:root {
    --color-white: white;
    --color-lightgray: lightgray;
    --color-black: black;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* Navigation Bar */
.nav {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    align-items: center;
    color: var(--color-lightgray);
}

.navLogo {
    width: 40px;
    height: 40px;
}

.navTitle {
    display: flex;
    justify-content: left;
    color: gold;
}

ul {
    /* remove the underlines */
    list-style: none;
}

li {
    display: inline;

    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: var(--color-lightgray);
}

a:hover {
    color: var(--color-white);
    transition: color 0.2ss;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

footer {
    align-items: center;
    background-color: var(--color-black);
    bottom: 0;
    color: var(--color-lightgray);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    left: 0;
    padding: 2rem 1rem;
    position: fixed;
    width: 100%;
}

footer img {
    height: 30px;
    width: 30px;
}
