<section class="chart-container">
    <div class="chart1">
        <h1>Bitcoin Chart</h1>
        <div class="chart-buttons">
            <button onclick="">Get Bitcoin</button>
            <button>Refresh</button>
        </div>
        <canvas id="myChart1"></canvas>
    </div>
    <div class="chart2">
        <h1>Bollinger/MA Ethereum</h1>
        <div class="chart-buttons">
            <button onclick="">Get Ethereum</button>
            <button onclick="">Refresh</button>
        </div>
        <canvas id="myChart2"></canvas>
    </div>
</section>
