<!-- RIGHT CARD -->
<section>
    <div class="feature-right-card-container">
        <div class="feature-image-area">
            <lottie-player
                src="https://assets7.lottiefiles.com/packages/lf20_8gdxpy48.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 300px"
                loop
                autoplay
            ></lottie-player>
        </div>
        <div class="feature-logo-area"></div>
        <div class="feature-title-area">
            <h2>Live Prices</h2>
        </div>
        <div class="feature-content-area">
            <ul>
                <li>View live prices</li>
                <li>Easily see direction movements</li>
                <li>24 hour increase/descrease indicator</li>
                <li>Clutter free information</li>
            </ul>
        </div>
        <div class="feature-learn-more-area"><h3>Learn More</h3></div>
    </div>
</section>
