<section>
    <div class="feature-right-card-container">
        <div class="feature-image-area">
            <lottie-player
                src="https://assets9.lottiefiles.com/packages/lf20_yJ8wNO.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 300px"
                loop
                autoplay
            ></lottie-player>
        </div>
        <div class="feature-logo-area"></div>
        <div class="feature-title-area">
            <h2>FEATURE TITLE HERE</h2>
        </div>
        <div class="feature-content-area">
            <ul>
                <li>lorem safasfd adfadsf adfdf</li>
                <li>ipsa adfasfd</li>
                <li>good adsfaf adfaf</li>
                <li>adfaf adfas fdf asdfasd f</li>
                <li>adfa asfas adf adsf</li>
            </ul>
        </div>
        <div class="feature-learn-more-area"><h3>Learn More</h3></div>
    </div>
</section>
