<!-- LEFT CARD 1 -->
<section>
    <div class="feature-left-card-container">
        <div class="feature-image-area">
            <lottie-player
                src="https://assets9.lottiefiles.com/packages/lf20_yJ8wNO.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 300px"
                loop
                autoplay
            ></lottie-player>
        </div>
        <div class="feature-logo-area"></div>
        <div class="feature-title-area">
            <h2>Easy Charting Capability</h2>
        </div>
        <div class="feature-content-area">
            <ul>
                <li>- View Historical Price Charts</li>
                <li>- Charts with Technical Inidcators</li>
                <li>- RSI / Bollinger Band Capabilities</li>
                <li>- Candle Stick Charts</li>
            </ul>
        </div>
        <div class="feature-learn-more-area"><h3>Learn More</h3></div>
    </div>
</section>

<!-- LEFT CARD 2 -->
<section>
    <div class="feature-left-card-container">
        <div class="feature-image-area">
            <lottie-player
                src="https://assets9.lottiefiles.com/packages/lf20_mcmxsyza.json"
                background="transparent"
                speed="1"
                style="width: 500px; height: 300px"
                loop
                autoplay
            ></lottie-player>
        </div>
        <div class="feature-logo-area"></div>
        <div class="feature-title-area">
            <h2>Dashboard</h2>
        </div>
        <div class="feature-content-area">
            <ul>
                <li>- Track your favourite crypto</li>
                <li>- Place alert indicators</li>
                <li>- Utilise easy to use charts</li>
                <li>- Competetively Priced</li>
            </ul>
        </div>
        <div class="feature-learn-more-area"><h3>Learn More</h3></div>
    </div>
</section>
