<div class="form-container">
    <form autocomplete="on">
        <label for="firstname">First name:</label><br />
        <input
            type="text"
            id="firstname"
            name="firstname"
            required
            autofocus
            minlength="2"
            maxlength="20"
        /><br />
        <label for="lastname">Last name:</label><br />
        <input
            type="text"
            id="lastname"
            name="lastname"
            required
            minlength="2"
            maxlength="20"
        /><br />
        <label for="email">Email Address:</label><br />
        <input
            type="email"
            name="email"
            id="email"
            required
            minlength="5"
            maxlength="30"
        /><br />
        <label for="password1">Type Password (min 8 characters):</label><br />
        <input
            type="password"
            name="password1"
            id="password1"
            required
            minlength="8"
            maxlength="20"
        /><br />
        <label for="password2">Repeat Password:</label><br />
        <input
            type="password"
            name="password2"
            id="password2"
            required
            minlength="8"
            maxlength="20"
        /><br />
        <div class="acknowledgement">
            <input type="checkbox" />
            <span> By ticking this box you agree to the Terms of Service </span>
        </div>

        <div class="form-buttons">
            <button>Sign-Up</button>
            <button>Clear</button>
        </div>
    </form>
</div>
