<div class="form-container">
    <form>
        <label for="emailSignIn">Email Addres:</label><br />
        <input type="email" name="emailSignIn" id="emailSignIn" /><br />
        <label for="passwordSignIn">Type Password (min 8 characters)</label
        ><br />
        <input
            type="password"
            name="passwordSignIn"
            id="passwordSignIn"
        /><br />
        <div class="form-buttons">
            <button>Sign-In</button>
            <button>Clear</button>
        </div>
    </form>
</div>
