<header>
    <nav class="nav">
        <a href="/"
            ><img class="navLogo" src="images/bitcoin-logo.png" alt="Home"
        /></a>
        <h1 class="navTitle">CryptoTrak</h1>
        <ul>
            <li class="navListColumns">
                <a href="liveprices.html">Live Prices</a>
            </li>
            <li class="navListColumns">
                <a href="pricing.html">Pricing</a>
            </li>
            <li class="navListColumns">
                <a href="dashboard.html">Dashboard</a>
            </li>
            <li class="navListColumns">
                <a href="advanced.html">Advanced</a>
            </li>
            <li class="navListColumns">
                <a href="signup.html">Sign-Up</a>
            </li>
            <li class="navListColumns">
                <a href="signin.html">Sign-In</a>
            </li>
        </ul>
    </nav>
</header>
